page-signup {
    #sign_up_content {
        background: url(../assets/img/lake.jpg) no-repeat fixed;
        ion-item {
            opacity: 0.7;
        }
        form {
            margin-top: 60px;
        }
    }
}
