<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<form id="register-form" action="/user/register" method="post">
    <input type="text" id="username" name="username" placeholder="请输入用户名,唯一身份标识，不可改变"/>
    <input type="text" id="nick-name" name="nickName" placeholder="请输入昵称"/>
    <input type="text" id="email" name="email" placeholder="请输入昵称"/>
    <input type="text" id="password" name="password" placeholder="请输入密码"/>
    <input type="text" id="password-verify" placeholder="请确认密码"/>
    <input type="submit" id="submit-button" value="提交"/>
</form>
</body>
</html>