<?xml version="1.0" encoding="UTF-8"?>
<!-- applicationContext -->
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop.xsd">

    <aop:aspectj-autoproxy/>

    <!-- 配置文件注入 -->
    <context:property-placeholder location="classpath:config.properties"/>

    <context:component-scan base-package="com.mzj.im"/>

    <!--websocket注入 -->
    <!--<context:component-scan base-package="com.mzj.im.web.webSocket"/>-->

    <bean class="com.mzj.im.util.SpringUtils"/>

    <import resource="classpath:spring-mybatis.xml"/>
    <import resource="classpath:spring-shiro.xml"/>
    <import resource="classpath:spring-redis.xml"/>
</beans>